<a href="https://colab.research.google.com/github/benchrisblair/cap-comp215/blob/main/examples/week2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sequence and Map Data Structures - Strings, Tuples, Lists, Dictionaries
This is our week 2 examples notebook and will be available on Github from the powderflask/cap-comp215 repository.

As usual, the first code block just imports the modules we will use.

In [16]:
import datetime
import matplotlib.pyplot as plt
import  matplotlib.dates as mdates
from pprint import pprint

## f-strings
A `string` is a sequence of characters / symbols.
This familiar data structure is quite powerful, and format-strings (f-strings) take it to the next level...

In [ ]:
today = datetime.date.today()
the_answer = 42
PI = 3.1415926535

f'{today:%d/%m/%Y} is not special, but {the_answer} and {PI:0.2f} are!'

'15/01/2023 is not special, but 42 and 3.14 are!'

## List Comprehension
Provides a compact syntax for two very common sequence-processing algorithms:  Map  and Filter

Basic syntax:

In [14]:
# [i for i in range(10)]

# [2*i if i%2==0 else 3*i if i%3==0 else i*4]

def calculate_it(val):
    return 2*val if val%2==0 else 3*val if val%3==0 else val*4

# [calculate_it(i) for i in range(0, 100)]

from collections import defaultdict

def counter_factory(): # can replace this factory function with lamda : 0 in defaultdict
    return 0

counts = defaultdict(lambda : 0)  # note: we're not calling counter_factory so we don't need to include the parentheses
for i in range(0, 100):
    counts[calculate_it(i)] += 1

counts

# Can also do dictionary comprehensions which show mapping more explicitly
# {i:calculate_it(i) for i in range(0, 100)}

# Can also do set comprehensions with no duplicates
# {calculate_it(i) for i in range(0, 100)}

defaultdict(<function __main__.<lambda>()>,
            {0: 1,
             4: 2,
             9: 1,
             8: 1,
             20: 2,
             12: 1,
             28: 2,
             16: 1,
             27: 1,
             44: 2,
             24: 1,
             52: 2,
             45: 1,
             32: 1,
             68: 2,
             36: 1,
             76: 2,
             40: 1,
             63: 1,
             92: 2,
             48: 1,
             100: 2,
             81: 1,
             56: 1,
             116: 2,
             60: 1,
             124: 2,
             64: 1,
             99: 1,
             140: 2,
             72: 1,
             148: 2,
             117: 1,
             80: 1,
             164: 2,
             84: 1,
             172: 2,
             88: 1,
             135: 1,
             188: 2,
             96: 1,
             196: 2,
             153: 1,
             104: 1,
             212: 1,
             108: 1,
             220: 1,
             112: 1,
             171: 1,
             236: 1,
             120: 1,
             244: 1,
             189: 1,
             128: 1,
             260: 1,
             132: 1,
             268: 1,
             136: 1,
             207: 1,
             284: 1,
             144: 1,
             292: 1,
             225: 1,
             152: 1,
             308: 1,
             156: 1,
             316: 1,
             160: 1,
             243: 1,
             332: 1,
             168: 1,
             340: 1,
             261: 1,
             176: 1,
             356: 1,
             180: 1,
             364: 1,
             184: 1,
             279: 1,
             380: 1,
             192: 1,
             388: 1,
             297: 1})

### Map Algorithm
Apply the same function to every item in another sequence (i.e., provide a "mapping" from the source sequence to the target)

In [ ]:
# Problem: compute the first 10 natural squares
[x**2 for x in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Filter
Select a sub-set of the elements from another sequence based on some criteria.

In [ ]:
VOWELS = 'aeiouAEIOU'
text = '''
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
'''
# Problem: create a string with just the vowels from the text, in order.
list_of_vowels = [char for char in text if char in VOWELS]

delimiter = ', '
str_of_vowels = delimiter.join(list_of_vowels)
print(str_of_vowels)

vowels_seen = set()
def is_seen(char):
  if char in vowels_seen:
    return True
  else:
    vowels_seen.add(char)
    return False

# [vowel for vowel in list_of_vowels if not is_seen(vowel)] --> replace list comprehensions with side effects using loops (as seen below)

unique_vowels = []
# for vowel in list_of_vowels:
#   if not is_seen(vowel):
#     unique_vowels.append(vowel)
for vowel in list_of_vowels:
  if vowel in VOWELS and vowel not in vowels_seen:
    vowels_seen.add(vowel)
    unique_vowels.append(vowel)

print(unique_vowels)

o, e, i, u, o, o, i, a, e, o, e, e, u, a, i, i, i, e, i, e, o, e, i, u, o, e, o, i, i, i, u, u, a, o, e, e, o, o, e, a, a, a, i, u, a, U, e, i, a, i, i, e, i, a, u, i, o, u, e, e, i, a, i, o, u, a, o, a, o, i, i, i, u, a, i, u, i, e, e, a, o, o, o, o, e, u, a
['o', 'e', 'i', 'u', 'a', 'U']

## Data Wrangling with List Comprehension
E-learn's Live Quiz module tracks quiz scores for each student, but does not store them in the gradebook, and instead reports them in the most useless way.

Let's do some "data wrangling" to make sense out of this mess!

### The Problem: Unstructured Data!
Notice it is just a single large string! The real data set has 36 students, and I need to do this every week!

In [ ]:
quiz_scores = """
  1.                 Ali Oop scored  7/ 8 = 87%


  2.          Alison Ralison scored  8/ 8 = 100%


  3.         Ambily Piturbed scored  8/ 8 = 100%


  4.  Arshan Risnot Farquared scored  5/ 8 = 62%


  5.       Ayushma Jugernaugh scored  5/ 8 = 62%


  6.       Brayden Labaguette scored  7/ 8 = 87%
"""

### Goal
Turn this into structured data: a list of 2-tuples, each student's full name and their integer score.

In [ ]:
lines = [line.split()[1:-3] for line in quiz_scores.split('\n') if line]
scores = [(' '.join(line[:-2]), int(line[-1][:-1])) for line in lines]
scores

[('Ali Oop', 7),
 ('Alison Ralison', 8),
 ('Ambily Piturbed', 8),
 ('Arshan Risnot Farquared', 5),
 ('Ayushma Jugernaugh', 5),
 ('Brayden Labaguette', 7)]

## Records
A *record* is a compound data value - a collection of simpler data values (fields) that all describe a single entity.

 * tuple
 * dictionary
 * object

Problem: develop the data representation for a `student` in a student record system,
where a `student` has a first and last name, student id, and date of birth

In [32]:
# Tuple
tuple_students = [
    ('Bob', '', 'Squarepants', 123456789, datetime.date(year=1994, month=2, day=25)),
    ('Dora', 'The', 'Explora', 192837465, datetime.date(year=2000, month=8, day=14))
]

s = tuple_students[-1]
s[4]  # must know that the DOB is at index 4 to access the correct data
age = datetime.date.today() - s[4]  # calculate age in days
age.days // 365  # calculate age in years

# Dictionary
dict_students = [
    {
        'first': 'Bob',
        'middle': '',
        'last': 'Squarepants',
        'sn': 123456789,
        'dob': datetime.date(year=1994, month=2, day=25)
    },
    {
        'first': 'Dora',
        'middle': 'The',
        'last': 'Explora',
        'sn': 192837465,
        'dob': datetime.date(year=2000, month=8, day=14)
    }
]

s = dict_students[-1]
s['dob']

students = [
    {'first':s[0], 'middle':s[1], 'last':s[2], 'sn':s[3], 'dob':s[4]} for s in tuple_students
]
students

[{'first': 'Bob',
  'middle': '',
  'last': 'Squarepants',
  'sn': 123456789,
  'dob': datetime.date(1994, 2, 25)},
 {'first': 'Dora',
  'middle': 'The',
  'last': 'Explora',
  'sn': 192837465,
  'dob': datetime.date(2000, 8, 14)}]

In [39]:
# Objects
from dataclasses import dataclass

@dataclass
class Student:
    first: str
    middle: str
    last: str
    sn: int
    dob: datetime.date

    def full_name(self):
        return f'{self.first} {self.last}'

students = [
    Student('Bob', '', 'Squarepants', 123456789, datetime.date(year=1994, month=2, day=25)),
    Student('Dora', 'The', 'Explora', 192837465, datetime.date(year=2000, month=8, day=14))
]

dora = [s for s in students if s.first=='Dora'][0]
dora.full_name()

'Dora Explora'